@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 2px; /* Adjust the value as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}


:root {
    --primary-color: #0F1020;
    --secondary-color: #14FFF7;
    --accent1-color: #E2D4B7;
    --accent2-color: #8D94BA;

    --heading-font: 'Archivo Black', sans-serif;
    --paragraph-font: 'DM Sans', sans-serif;
}


header {
    display: grid;
    align-items: start;
    padding: 20px;

}


/* Remove underlines from social media links */
.sociallinks {
    text-decoration: none;
    display: flex;
    justify-content: right;

  }

 
.hero img {
    display: block;
    width: 95%;
    height: auto;
    object-fit: cover;
    position: absolute;
    
}


h1 {
    position: relative;
    text-shadow: 3px 3px 5px #777;
    text-align: center;
    box-shadow: 0 0 10px #111;
    background: radial-gradient(#eee, #78E0DC);
    left: 150px;

}


article {
	position: relative;
	top: 5px;
	left: 150px;
	background: radial-gradient(#eee, #78E0DC);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    
}


article img {
    float: right;
    margin-right: 10px;
}


h2 {
	text-align: center;
	font-size: 1.5rem;
	text-shadow: 3px 3px 5px #777;
}


 main {    
    font-family: var(--paragraph-font); 
    max-width: 840px;
    padding: 20px;
} 


h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}


.history {
    display: grid; /* Use CSS Grid */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    text-align: center; /* Center text within elements */
    padding: 20px; /* for better spacing */
    grid-template-rows: auto auto; /* Ensure rows are sized based on their content */
    row-gap: 20px; /* Space between rows */
    max-width: none;
    margin-left: 300px;
}


section h2 {
    margin-top: 100px; 
  }


.second-section h2{
    margin-top: 20px; 
    margin-left: 300px;
}


.second-section {
    text-align: center; /* Center align the content */
}


/*Use CSS Grid in the header to create the horizontal layout between the logo and the navigation bar.*/

.navbar,.sociallinks {
    display: flex; /* Use flexbox to layout the items horizontally */
    align-items: center; /* Center align items vertically */
    background-color: #78E0DC  ; /* Background color of the navbar */
    padding: 5px 10px; /* Padding around the navbar */

}
    

.navbar img {
    display: block; /* Ensure the image behaves like a block-level element */
    margin-right: 20px; 
}


.navbar a {
    padding: 10px 20px; /* Add padding to create button-like appearance */
    background-color: #343F3E; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Add rounded corners */
    text-align: center; /* Center align text within the button */
    margin-right: 1px; /* Space between links */
    border-bottom: 1px solid #0a0a0a;
    flex: 1 1 100%;

}


.navbar a:hover {
    background-color: #F5D547; /* Change background color on hover */
    color: #343F3E

}


.image-container {
    display: flex;
    grid-template-columns: 100px 100px 100px 100px 100px; /* Five equal-width columns */
    gap: 10px; /* Adjust the gap between images */
    justify-content: space-around;
    align-items: center;

}


.image-container img {
     /* Ensure images don't exceed container width */
    width: 245px;
    height: auto;
    display: block;
}  


figure {
    margin: 0;
    position: relative;
}


figcaption {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 0.9em;
}

footer p {
    position: absolute;
}

footer {

    padding: 35px;
}